aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
asyncio==3.4.3
asyncpg==0.30.0
attributes-doc==0.4.0
attrs==25.3.0
autoflake==2.3.1
dotenv==0.9.9
frozenlist==1.5.0
idna==3.10
isort==6.0.1
multidict==6.4.3
mypy==1.15.0
mypy-extensions==1.0.0
propcache==0.3.1
pyflakes==3.3.2
python-dotenv==1.1.0
ruff==0.11.5
serpyco-rs==1.13.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
yarl==1.19.0
